@use 'variables' as *;

.container {
    width: 100%;
    max-width: 80rem;

    margin-left: auto;
    margin-right: auto;

    padding-left: $spacing-md;
    padding-right: $spacing-md;

    @media (min-width: $breakpoint-lg) {
        padding-left: $spacing-lg;
        padding-right: $spacing-lg;
    }

    @media (min-width: $breakpoint-xl) {
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
    }
}

section {
    &.padding-top {
        padding-top: $spacing-xl;
    }

    &.padding-bottom {
        padding-bottom: $spacing-xl;
    }
}