$primary-color: #012924;
$accent-color: #ff9da0;
$button-secondary-color: #cecece;
$background-color: #F7F9F2;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;
$spacing-xxl: 8rem;

// Font sizes
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

// Border radius
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;