:root {
    --background-color: #F7F9F2;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

/* Hero section slideshow */
#hero-slideshow {
    display: flex;
    gap: 2rem;
    animation: slideLeft 60s linear infinite;
    width: max-content;
    padding: 0 2rem;
}

/* Individual slide */
#hero-slideshow img {
    height: 480px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 2rem;
    aspect-ratio: 4/3;
}

#hero-slideshow img.square {
    aspect-ratio: 1/1;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% + 1rem));
    }
}

@media (max-width: 768px) {
    #hero-slideshow img {
        height: 400px;
    }
}

@media (max-width: 568px) {
    #hero-slideshow img {
        height: 385px;
    }
}

@media (max-width: 320px) {
    #hero-slideshow img {
        height: 320px;
    }
}