@use 'variables' as *;
@use 'fonts';
@use 'utils';
@use 'mixins';
@use 'animations';
@use 'buttons';
@use 'navbar';
@use 'hero';
@use 'offerings';
@use 'teachers';
@use 'pricing';
@use 'contact';

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: $primary-color;
}

.list {
    li {
        margin-bottom: $spacing-sm;
        font-size: $font-size-sm;
        line-height: 1.5;

        &::before {
            content: "✓";
            text-align: center;

            color: $green-color;
            background-color: rgba($green-color, 0.2);
            border-radius: 50%;

            display: inline-block;
            width: 1.25em;
            height: 1.25em;
            line-height: 1.25em;

            margin-right: 8px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    
    button {
        border: 1px solid black !important;
    }
}